odoo-addon-account_move_tier_validation @ git+https://github.com/OCA/account-invoicing.git@refs/pull/1830/head#subdirectory=account_move_tier_validation
([18.0][MIG] account_move_tier_validation_approver: Migration to 18.0)
